<a class="btn btn-success" routerLink="/parametros/crear-publicidad" role="button">Agregar</a>
<br />
<br />
<table class="table">
    <thead class="table-primary">
        <tr>
            <td>
                Nombre
            </td>
 
            <td>
                fecha
            </td>
            <td>
                Administrador
            </td>
            <td>
                Editar
            </td>
            <td>
                Eliminar
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of publicidadList | paginate: { itemsPerPage: itemsPageAmount, currentPage: page }">
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.fecha}}
            </td>
            <td>
                {{r.publicidad.correo}}
            </td>
            <td>
                <a class="btn btn-warning" routerLink="/parametros/editar-publicidad/{{r.id_publicidad}}" role="button">Editar</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="RemoveRecordConfirmation(r.id_publicidad)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
<ngx-spinner></ngx-spinner>
<div class="modal" id="removeConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de Eliminar?
            </div>
            <div class="modal-footer">
                <button (click)="eliminar()" type="button" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>