<app-navbar>

</app-navbar>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container forget-password">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                                <h2 class="text-center">Contraseña Olvidada?</h2>
                                <p>Puedes reestablecerla aqui..</p>
                                <form [formGroup]="fgValidator">
                                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                        
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="form-control" formControlName="tipo" id="sel1">
                                                <option selected="true" disabled="disabled">Seleccione el metodo de reestablecimiento</option>
                                                <option value="1">Clave via SMS</option>
                                                <option value="1">Clave via Correo electronico</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input formControlName="username" id="forgetAnswer" name="forgetAnswer" placeholder="Nombre de Usuario" class="form-control"  type="text">
                                            <div class="warning-validator" *ngIf="fgv.nombre_usuario.errors && (fgv.nombre_usuario.dirty || fgv.nombre_usuario.touched)">
                                                <strong *ngIf="fgv.nombre_usuario.errors.required">
                                                    Campo requerido.
                                                </strong>
                                                <strong *ngIf="fgv.nombre_usuario.errors.minlength">
                                                    El nombre de usuario contiene minimo {{document_min_length}} letras. 
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="btnForget" (click)="ResetPassword()" class="btn btn-lg btn-primary btn-block btnForget" value="Reset Password" type="submit">
                                    </div>

                                </form>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer>
      
        </app-footer>
