<div id="wrapper">

  <!-- Sidebar -->
  <div  id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a routerLink="/home">
                  Muro
              </a>
          </li>
          <li>
              <a  routerLink="/admin/login">Login Administrador</a>
          </li>
          <li>
            <a  routerLink="/admin/lista-admin">Lista administrador </a>
          </li>
          <li>
            <a  routerLink="/parametros/lista-publicidad">Lista Publicidad</a>
          </li>
          <li>
            <a  routerLink="/parametros/lista-publicacion">Lista Publicacion</a>
          </li>
          <li>
            <a  routerLink="/parametros/lista-denuncia">Lista Denuncias</a>
          </li>
          <li>
            <a  routerLink="/usuario/resetear">Resetear Clave</a>
          </li>
          <li>
            <a  routerLink="/usuario/editar">Editar Perfil</a>
          </li>
          <li>
            <a  routerLink="/usuario/lista-contacto">Lista Contactos</a>
          </li>
          <li>
            <a  routerLink="/usuario/lista-mensaje">Lista Mensajes</a>
          </li>
          <li>
            <a  routerLink="/usuario/lista-comentario">Lista Comentarios</a>
          </li>
          <li>
            <a  routerLink="/inicio/home">Cerrar sesion</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <router-outlet>

          </router-outlet>
          <app-footer>
    
          </app-footer>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>