<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
            <a *ngIf="rol == 3" routerLink="/admin/lista-admin">Administradores </a>
          </li>
          <li>
            <a *ngIf="rol >=1" routerLink="/admin/lista-parametros">Publicidad </a>
          </li>
          <li>
            <a *ngIf="rol >=1" routerLink="/admin/lista-parametros">Publicacion </a>
          </li>
          <li>
            <a *ngIf="rol >=1" routerLink="/admin/lista-parametros">Denuncias </a>
          </li>
          <li>
            <a  *ngIf="rol >=0" routerLink="/usuario/editar-perfil">Editar Perfil </a>
          </li>
          <li>
            <a *ngIf="rol >=0" routerLink="/usuario/lista-contactos">Contactos </a>
          </li>
          <li>
            <a  *ngIf="rol >=0" routerLink="/usuario/lista-comentarios">Comentarios </a>
          </li>
          <li>
            <a  *ngIf="rol >=0" routerLink="/usuario/lista-mensajes">Mensajes  </a>
          </li>
          <li>
            <a  *ngIf="rol >=0" routerLink="/usuario/resetear">Resetear Clave </a>
          </li>
          <li>
            <a  *ngIf="rol >=0" routerLink="/inicio/login-usuario" (click)="logout()" >Cerrar sesion  </a>
          </li>

      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <router-outlet>
            
          </router-outlet>
          <app-footer>
    
          </app-footer>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>