<div id="wrapper">

  <!-- Sidebar -->
  <div  id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a routerLink="/home">
                  Home
              </a>
          </li>
          <li>
              <a  routerLink="/parametros/lista-denuncias">lista-denuncias</a>
          </li>
          <li>
            <a  routerLink="/admin/lista-admin">lista-admin </a>
          </li>
          <li>
            <a  routerLink="/parametros/lista-publicidad">lista-publicidad</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <router-outlet>

          </router-outlet>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>